<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [4]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [5]:
#with open('./data/chipotle.tsv', mode='rU') as file_nested_list:
    #print(file_nested_list.read())
    #file_nested_list = [row for row in csv.reader(f, delimiter='\t')]
    #file_nested_list.readlines()
#    for line in file_nested_list.readlines():
#        print(line.strip())
    
with open('./data/chipotle.tsv', mode='r') as f:
    file_nested_list = [row for row in csv.reader(f, delimiter='\t')]

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [20]:
header = file_nested_list[0]
data = file_nested_list[1:]
#print(file_nested_list)
print(header)
#print(data)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [21]:
total_price=0
quantity=0
order = input('order number: ')
order=int(order)
for i in data:
    if int(i[0])==order:
        total_price = float(i[4][1:-1]) + total_price
        quantity = int(i[1]) + quantity

print(total_price, end='(total prices),')
print(quantity, end='(quantity),')
print(total_price/quantity, end='(average price/given_order),')

order number: 5
13.7(total prices),2(quantity),6.85(average price/given_order),

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [9]:
unique_sodas=set([i[3] for i in data if 'canned' in i[2].lower()])
print(unique_sodas)

{'[Lemonade]', '[Coca Cola]', '[Nestea]', '[Dr. Pepper]', '[Diet Dr. Pepper]', '[Mountain Dew]', '[Diet Coke]', '[Coke]', '[Sprite]'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [12]:
total_burrito=0
sum_burrito_list=sum([total_burrito+1 for i in data if 'burrito' in i[2].lower()])


total_topping=0

sum_topping_list=sum([i[3].count(',')+1 for i in data if 'burrito' in i[2].lower()])


print(sum_burrito_list, end='(number of burrito),')
print(sum_topping_list, end='(number of topping),')
print(sum_topping_list/sum_burrito_list, end='(average number of toppings per burrito)')

1172(number of burrito),6323(number of topping),5.395051194539249(average number of toppings per burrito)

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [14]:
from collections import defaultdict

chips_list= ([i[2]  for i in data if 'chips' in i[2].lower()])
chips_set = set(chips_list)


chips_dict = defaultdict(int)

for i in chips_set:
    for j in chips_list:
        if i==j:
            chips_dict[i] = chips_dict[i] + 1


print(chips_dict)

defaultdict(<class 'int'>, {'Chips and Tomatillo Green Chili Salsa': 43, 'Chips and Tomatillo Red Chili Salsa': 48, 'Chips and Roasted Chili-Corn Salsa': 18, 'Chips and Tomatillo-Red Chili Salsa': 20, 'Chips': 211, 'Chips and Guacamole': 479, 'Chips and Roasted Chili Corn Salsa': 22, 'Chips and Fresh Tomato Salsa': 110, 'Chips and Tomatillo-Green Chili Salsa': 31, 'Chips and Mild Fresh Tomato Salsa': 1, 'Side of Chips': 101})

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [15]:
#list out number of quantity each item, find out which item is the best selling item
#answer: best selling item is Chicken Bowl, total order= 761

In [16]:
item_list=[i[2] for i in data]
#print(item_list)   

item_set=set(item_list)
#print(item_set)

quantity_list=[i[1] for i in data]
#print(quantity_list)

    
item_dict=defaultdict(int)

for i in item_set:
    for h,j in enumerate(item_list):
        #print(h,j)
        if i==j:
            item_dict[i]= item_dict[i]+ int(quantity_list[h]) 

print(item_dict)

defaultdict(<class 'int'>, {'Chips and Roasted Chili-Corn Salsa': 18, 'Barbacoa Bowl': 66, 'Steak Burrito': 386, 'Chips and Guacamole': 506, 'Chips and Tomatillo-Green Chili Salsa': 33, 'Izze': 20, 'Veggie Bowl': 87, 'Chips and Mild Fresh Tomato Salsa': 1, 'Crispy Tacos': 2, 'Carnitas Bowl': 71, 'Veggie Soft Tacos': 8, 'Veggie Crispy Tacos': 1, 'Veggie Burrito': 97, 'Steak Crispy Tacos': 36, 'Bowl': 4, 'Steak Salad Bowl': 31, 'Barbacoa Crispy Tacos': 12, 'Canned Soft Drink': 351, 'Canned Soda': 126, '6 Pack Soft Drink': 55, 'Veggie Salad': 6, 'Barbacoa Burrito': 91, 'Bottled Water': 211, 'Nantucket Nectar': 29, 'Chips and Tomatillo Green Chili Salsa': 45, 'Chips and Tomatillo-Red Chili Salsa': 25, 'Chicken Salad': 9, 'Carnitas Salad': 1, 'Chicken Burrito': 591, 'Steak Bowl': 221, 'Barbacoa Soft Tacos': 25, 'Burrito': 6, 'Veggie Salad Bowl': 18, 'Chips and Roasted Chili Corn Salsa': 23, 'Steak Salad': 4, 'Steak Soft Tacos': 56, 'Carnitas Salad Bowl': 6, 'Carnitas Soft Tacos': 40, 'Chicken Soft Tacos': 120, 'Salad': 2, 'Chips and Tomatillo Red Chili Salsa': 50, 'Barbacoa Salad Bowl': 10, 'Chicken Salad Bowl': 123, 'Chips': 230, 'Carnitas Burrito': 60, 'Chicken Crispy Tacos': 50, 'Chips and Fresh Tomato Salsa': 130, 'Side of Chips': 110, 'Chicken Bowl': 761, 'Carnitas Crispy Tacos': 8})

In [17]:
item_list=[i[2] for i in data]
#print(item_list)   

item_set=set(item_list)
#print(item_set)

quantity_list=[i[1] for i in data]
#print(quantity_list)

    
item_dict=defaultdict(int)

for i in item_set:
    for j in range(len(item_list)):
        if i==item_list[j]:
            item_dict[i]= item_dict[i]+ int(quantity_list[j]) 

print(item_dict)
            
#for i in item_set:
#    for j in item_list:
#        if i==j:
#            item_dict[i]=item_dict[i]+(int(quantity_list[item_list.index(j)]))


#for i in item_set:
#    item_dict[i] = item_list.count(i) 
    
#print(item_dict)

defaultdict(<class 'int'>, {'Chips and Roasted Chili-Corn Salsa': 18, 'Barbacoa Bowl': 66, 'Steak Burrito': 386, 'Chips and Guacamole': 506, 'Chips and Tomatillo-Green Chili Salsa': 33, 'Izze': 20, 'Veggie Bowl': 87, 'Chips and Mild Fresh Tomato Salsa': 1, 'Crispy Tacos': 2, 'Carnitas Bowl': 71, 'Veggie Soft Tacos': 8, 'Veggie Crispy Tacos': 1, 'Veggie Burrito': 97, 'Steak Crispy Tacos': 36, 'Bowl': 4, 'Steak Salad Bowl': 31, 'Barbacoa Crispy Tacos': 12, 'Canned Soft Drink': 351, 'Canned Soda': 126, '6 Pack Soft Drink': 55, 'Veggie Salad': 6, 'Barbacoa Burrito': 91, 'Bottled Water': 211, 'Nantucket Nectar': 29, 'Chips and Tomatillo Green Chili Salsa': 45, 'Chips and Tomatillo-Red Chili Salsa': 25, 'Chicken Salad': 9, 'Carnitas Salad': 1, 'Chicken Burrito': 591, 'Steak Bowl': 221, 'Barbacoa Soft Tacos': 25, 'Burrito': 6, 'Veggie Salad Bowl': 18, 'Chips and Roasted Chili Corn Salsa': 23, 'Steak Salad': 4, 'Steak Soft Tacos': 56, 'Carnitas Salad Bowl': 6, 'Carnitas Soft Tacos': 40, 'Chicken Soft Tacos': 120, 'Salad': 2, 'Chips and Tomatillo Red Chili Salsa': 50, 'Barbacoa Salad Bowl': 10, 'Chicken Salad Bowl': 123, 'Chips': 230, 'Carnitas Burrito': 60, 'Chicken Crispy Tacos': 50, 'Chips and Fresh Tomato Salsa': 130, 'Side of Chips': 110, 'Chicken Bowl': 761, 'Carnitas Crispy Tacos': 8})

In [24]:
import pandas as pd
#import matplotlib.pyplot as plt
#%matplotlib inline


item_table=pd.Series(item_dict, name='Quantity')
item_table.index.name = 'Item_Name'

item_table=item_table.sort_values()
item_table=item_table.reset_index()

item_table

#print(item_table.dtypes)
#item_table.max()
#item_table.min()
#item_table.describe(include='all')

#print(item_table.iloc[3][1])

#print(item_table['Quantity'])
#for v in item_table['Quantity']:
#    print((v))

#Highlight all item with chili    
item_table.style.apply(lambda x: ["background: red" if 'Chili' in v  else "" for v in item_table['Item_Name']], axis = 0)